<section class="hero">
  <div class="hero-content">
    <h1>Find the Best Franchises in Pakistan</h1>
    <p>Get all the relevant information you need in one place!</p>
    <a href="#" class="cta-button">See Available Franchises</a>
  </div>
  <div class="hero-image">
    <div class="scope">
      <span style="--i: 1"><img src="optp-banner.webp" alt="not found" /></span>
      <span style="--i: 2"><img src="optp-banner.webp" alt="not found" /></span>
      <span style="--i: 3"
        ><img src="macdonald-banner.webp" alt="not found"
      /></span>
      <span style="--i: 4"
        ><img src="secondCup-banner.webp" alt="not found"
      /></span>
      <span style="--i: 5"
        ><img src="tayto-banner.webp" alt="not found"
      /></span>
      <span style="--i: 6"
        ><img src="subway-banner.webp" alt="not found"
      /></span>
      <span style="--i: 7"
        ><img src="wildwings-banner.webp" alt="not found"
      /></span>
      <span style="--i: 8"
        ><img src="tayto-banner.webp" alt="not found"
      /></span>
    </div>
  </div>
</section>
