<footer class="footer">
  <div class="social-icons">
    <a href="#"><img src="/assets/facebook.png" /></a>
    <a href="#"><img src="/assets/whatsapp.png" /></a>
    <a href="#"><img src="/assets/youtube.png" /></a>
    <a href="#"><img src="/assets/instagram.png" /></a>
  </div>
  <div class="footer-links">
    <div class="ab">Contact</div>
    <div class="divider"></div>
    <div class="ab">Disclaimer</div>
    <div class="divider"></div>
    <div class="ab">Privacy Policy</div>
  </div>
  <p>2020 EZ Franchise, pvt ltd. All rights reserved.</p>
</footer>
